extends layout

block content
  div
    h1 #{title}
    ul(class="message-list")
      each message, index in message_list
        li(class="d-flex flex-column align-items-center px-5 py-4 text-center message-card cascade-fade-in" style=`--delay: ${index + 1}`)
          div(class="d-flex flex-column align-items-center message-details")
            if user === undefined || (user !== undefined && user.account_status === "none")
              p(class="d-flex flex-column align-items-center")
                p(class="username hide") #{message.author.username}
                div(class=(message.author.account_status === 'member' ? 'my-2 profile-picture message-profile member' : message.author.account_status === 'admin' ? 'my-2 profile-picture message-profile admin' : 'my-2 profile-picture message-profile none') style=`background: url(${message.author.profile_picture}) no-repeat center; background-size: cover;`)
              
            else
              a(class="d-flex flex-column align-items-center user-link" href=message.author.url)
                p(class=(message.author.account_status === 'member' ? 'username member' : message.author.account_status === 'admin' ? 'username admin' : 'username none')) #{message.author.username}
                div(class=(message.author.account_status === 'member' ? 'my-2 profile-picture message-profile member' : message.author.account_status === 'admin' ? 'my-2 profile-picture message-profile admin' : 'my-2 profile-picture message-profile none') style=`background: url(${message.author.profile_picture}) no-repeat center; background-size: cover;`)
            
            if user === undefined || (user !== undefined && user.account_status === "none")
              p(class='message-date hide') #{message.date_added}

            else
              p(class='message-date') #{message.date_added}

            p(class="h5") #{message.text}

          if user !== undefined && user.account_status === "admin"
            a(class="my-2 delete-message" href=message.url + '/delete') Delete message