extends layout

block content
  div
    h1 #{title}
    ul(class="d-flex flex-wrap message-list")
      each message, index in message_list
        li(class="d-flex flex-column align-items-center p-4 text-center message-card" style=`--delay: #{index + 1}`)
          div(class="d-flex flex-column align-items-center")
            a(href=message.author.url)
              p #{message.author.username}
              div(class=(message.author.account_status === 'member' ? 'user-profile profile member' : message.author.account_status === 'admin' ? 'user-profile profile admin' : 'user-profile profile none') style=(message.author.profile_picture === undefined ? 'background: url(' + message.author.default_avatar + ') no-repeat center; background-size: cover;' : 'background: url(' + message.author.profile_picture_url + ') no-repeat center; background-size: cover;'))
            p #{message.date_added}
            p(class="message-text") #{message.text}
          button Delete if admin only

      else
        p Looks like there aren't any messages here... yet
        p SOME IMG