extends layout

block content
  div
    div
      h1 #{selectedUser.username}
      div(class=(selectedUser.account_status === 'member' ? 'profile-picture selected-user-profile member' : selectedUser.account_status === 'admin' ? 'profile-picture selected-user-profile admin' : 'profile-picture selected-user-profile none') style=`background: url(${selectedUser.profile_picture}) no-repeat center; background-size: cover;`)

    ul(class="d-flex flex-column")
      each message, index in message_list
        li
          div
            p see author and date if member or above
            p(class="h2") #{message.author.username}
            p #{message.date_added}
            p #{message.text}
          button Delete if admin only